/*
Selector de etiqueta. 
Header, section, article, nav, etc.
*/
/* Iconos */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?tc7q2y');
    src:  url('fonts/icomoon.eot?tc7q2y#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?tc7q2y') format('truetype'),
      url('fonts/icomoon.woff?tc7q2y') format('woff'),
      url('fonts/icomoon.svg?tc7q2y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }

  .icon-menu{

  }
  .burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    font-size: 1.5em;
  }

/* Cuerpo de la página */  

* {
    font-display: auto;
}

body{
    background: #39282b;
    margin: 0px;
    color:#49504a;
    font-family: 'Source Sans Pro', system-ui;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', system-ui;
    font-weight: 600;/*  */
    /* font-style: italic; */
}
h1{
    line-height: 180%;
    font-size: 30px;
    letter-spacing: -.2px;
    color: white;
    margin: auto;
    text-align: center;
    /* margin-right: 450px;
    margin-left: 50px; */
    /* margin-left: 50px; */
    /* text-transform: lowercase; */
    /* text-decoration: underline; */
}
h2{
    color: #026fff !important;
    font-family: 'Source Sans Pro', system-ui;
    text-transform: uppercase;
    margin: 0px auto;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
    padding-top: 40px;
}
header {
    background: #39282b;
    display: flex;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    width: 85%;
    /* position: sticky;
    top: 0; */
}
header figure{
    margin: 0;/* 
    display: flex; */
}

ol, ul{
    margin: 0;
    padding: 0;
}
header nav{
    height: inherit;
    justify-content: center;
}
nav ul{
    display: flex;
    color: white;
    margin: auto;
    margin-right: 0px;
    height: inherit;
    
}
nav ul li{
    list-style: none;
    text-align: center;
    height: inherit;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.container{
    width: 85%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
    flex: 1;
}

/* Selector descendente.
Elemento hijo de algún otro elemento.
nav, div, a, ol, li, ul
body header div nav ol li a {} Extremadamente largo
/* Es buena práctica utilizar las clases, de esta manera se simplifica el código y no habría necesidad de utilizar el selector descendente */

/* Selector de clase
Da estilos a las clases y se identifica con un punto, ej:
*/
.link {
    color: #e6e5e6;
}

/* Selector de id. */

#presentacion strong{
    color: #026fff;
}
/* Sección Hero. */
.hero{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 300px;
    background-color: #39282b;
    align-items: center;
    
}
.hero .heroContainer {
    width: 85%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hero .container h1 {
    width: 50%;
}

.hero-image{
    object-fit: cover;
    height: 300px;
}

/* Estilos, portafolio. */ 
.portfolio{
    background: #fafafa;
    margin: 0;
}
.project{
    display: flex;
    /* box-shadow: #39282b; */
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
    width: inherit;
    padding: 50px;
    background: white;
    margin-top: 20px;
    flex-wrap: wrap;
}
.project-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}
.project-course, project-date, .project-link{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-description{
    font-size: 20px;
}
.project strong{
    font-family: 'Fjalla One', system-ui;
}
.project-details{
    width: 50%;
}
.project-imageContainer{
    width: 50%;
    margin: auto;
    text-align: center;
}
.project-imageContainer img{
    max-width: 100%;;
}

/* Estilos experiencia laboral. */
.experience{
    background: #fafafa;
}
.jobs{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.jobs-box{
    width: 300px;
    flex-shrink: 0;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    background: #f4fbff;
    margin-bottom: 0;
}
.jobs-box-imageContainer{
    margin: 0%;
}
.jobs-box-imageContainer img{
    object-fit: cover;
}
.job-detail{
    margin: 20px;
    background-color: white;
    margin-top: -40px;
    position: relative;
    padding: 20px 40px;
    align-items: center;
    display: grid;
}
.job-companyInfo{
    text-align: left;
}
.job-link{
    text-align: center;
    color: #056fff;
    border: 1px solid #056fff;
    border-radius: 10px;
    padding: 5px 20px;
    text-decoration: none;

    
}
/* Video */
.video{
    width: 90%;
    margin: auto;
    display: flex;
    padding-bottom: 10px;
}
.flexible{
    width:  90%;
    height: 0;
    padding-top: 50.63%;
    background: blue;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
}
.youtube-video{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/* Sección de contacto. */
.contact{
    background-color: #0063ff;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.social{
    /* border: 1px solid red; */
    margin: initial;
    padding: 50px;
}
.social-link{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    margin-right: 10px;
}
.social-link.twitter{
    background-image: url('../public/twitter.webp');
    
}
.social-link.facebook{
    background-image: url('../public/facebook.webp');
}
.social-link.github{
    background-image: url('../public/github.webp');
}
.social-link.instagram{
    background-image: url('../public/instagram.webp');
}
.form-email{
    padding-left: 50px;
}
.form-email input{
    border-color: gray;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border-style: solid;
    background-image: url('../public/mail.webp');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}
.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email label{
    font-family: 'Source Sans Pro', system-ui;
    text-transform: uppercase;
}
/* Footer */
footer{
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #39282b;
    padding: 0 10px;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}
.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer-info a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer-credits{
    color: white;
    display: flex;
    align-items: center;
    height: inherit;;
}
.footer-credits a{
    color: white;
    text-decoration: none;
}

/* Desktop first. Se empieza desde el Media Query más grande */
@media screen and (max-width: 1024px){
    /* body{
        border: 1px solid yellow;
    } */
    /* .jobs{
        width: inherit;
    } */
    .jobs-box{
        width: 47%;
        margin: 1%;
    }
    .jobs-box-imageContainer{
        max-width: 100%;
    }
    .job-image{
        width: 100%;
    }
    h1{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 767px){
    /* body{
        border: 1px solid red;
    } */
    /* Sección Header */
    .burger-button{
        display: block;
    }
    .header{
        display: block;
        height: auto;
    }
    .header figure{
        text-align: center;
    }
    .logo{
        max-width: 100%;
    }
    .header ul{
        display: initial;
    }
    .header ul li{
        height: 30px;
        justify-content: center;
    }
    .header a{
        justify-content: center;
    }
    .menu{
        position: fixed;
        background: rgba(0, 0, 0, .8);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        transition: .3s;
        
    }
    .menu.is-active{
        left: 0;
    }
    nav ul{
        margin-right: auto;
        height: auto;
    }
    nav ul li{
        padding: 20px;
        font-size: 1.5em;
    }
    /* Sección Hero */
    .hero{
        justify-content: center;
        position: relative;
        overflow: hidden;
    }
    h1{
        font-size: 2em;
        position: absolute;
        text-align: center;
        margin-top: 1.3em;
        z-index: 2;
    }
    .hero-imageContainer{
        max-width: 100%;
    }
    .hero-image{
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }

    /* Sección portafolio */
    .project{
        display: block;
        padding: 1em;
    }
    .project-details{
        width: auto;
        font-size: 16px;
    }
    .project-imageContainer{
        width: auto;
        text-align: center;
    }
    .project-title{
        font-size: 1.3em;
    }
    .project-link{
        font-size: 1em;
    }
    .project-course{
        font-size: 1em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-description{
        font-size: 1em;
    }

    .jobs-box{
        width: 90%;
        margin: 1%;
    }
    /* Sección contacto */
    .contact{
        display: block;
        justify-content: center;
        height: auto;
    }
    .form-email{
        display: block;
        text-align: center;
        padding: 10px;
        margin: auto;
    }
    .form-email button{
        margin: auto;
    }
    #email{
        margin: .8em;
    }
    .social{
        display: flex;
        justify-content: center;
        height: auto;
        padding: 10px;
    }

    /* Sección Footer */
    .footer{
        display: block;
        justify-content: center;
        text-align: center;
    }
    /* .footer-link{
        display: flex;
        justify-content: center;
    } */
    .footer-credits{
        /* display: flex; */
        text-align: center;
        justify-content: center;
    }
}
@media screen and (max-width: 480px){
    /* body{
        border: 1px solid blue;
    } */
    h1{
        font-size: 1.3em;
    }
    body{
        font-size: 16px;
    }
    .project-details{
        font-size: .8em;
        margin: 1em;

    }
    .job-detail{
        margin: 1.2em;
        margin-top: -2em;
        padding: 2em;
        padding-top: .5em;
    }
}
@media screen and (max-width: 320px){
    .project-details{
        font-size: 10px;
    }
    /* html{
        font-size: 16px;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem;
    }
    h1{
        margin: auto;
        flex-shrink: 0;
    }
    header{
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }
    .menu{
        font-size: .8rem;
    }
    .hero{
        flex-wrap: wrap;
    }
    .container{
        width: 100%;
    }
    .hero .container{
        justify-content: center;
    }
    .hero-image{
        flex-shrink: 0;
        height: 150px;
    }
    .footer{
        justify-content: center;
    }
    .project{
        margin: 20px 10px 0;
        width: auto;
        padding: 5px;
    }
    .project-details{
        width: 100%;
    }
    .project-description{
        font-size: 1rem;
    }
    .social{
        padding: 0;
    }
    .contact .container{
        justify-content: center;
    }
    .form-email{
        padding: 0;
    }
    .form-email button{
        margin: 10px auto;
    } */
}